<nav class="flex justify-between items-center p-4 bg-white dark:bg-gray-900 shadow-md transition-colors duration-300">
  <div class="container mx-auto flex justify-between items-center relative">
    
    <!-- Logo -->
    <div class="text-lg font-bold text-black dark:text-white flex items-center">
      <span routerLink="/">Lista de Contatos</span>
    </div>

    <!-- Menu Items (Centralizado) -->
    <ul class="absolute left-1/2 transform -translate-x-1/2 flex gap-4 text-black dark:text-white">
      <li><a routerLink="/pages/cadastro-contatos" class="hover:text-gray-500 font-bold">Cadastro</a></li>
      <li><a routerLink="/pages/consulta-contatos" class="hover:text-gray-500 font-bold">Consulta</a></li>
    </ul>

    <!-- Theme Toggle Button -->
    <div class="flex items-center space-x-4">
      <button (click)="toggleTheme()" class="p-2 rounded-full hover:bg-gray-200 dark:hover:bg-gray-700">
        <span *ngIf="isDarkMode">
          <img src="img/light.png" class="w-6" alt="">
        </span>
        <span *ngIf="!isDarkMode">
          <img src="img/dark.png" class="w-6" alt="">
        </span>
      </button>
    </div>

  </div>
</nav>
