<div class="max-w-4xl mx-auto mt-10">
  <!-- Card de busca -->
  <form [formGroup]="form" (ngSubmit)="OnSubmit()" class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md mb-6">
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Consultar Contato</h2>
    <input type="text" formControlName="nome" placeholder="Digite o nome do contato" class="w-full px-4 dark:text-white py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
    <button type="submit" class="mt-4 w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition">Buscar</button>
  </form>

  <div *ngIf="mensagem" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold block">Sucesso!</strong>
    <span class="block sm:inline">O contato foi excluído com sucesso.</span>
    <button class="absolute top-0 bottom-0 right-0 px-4 py-3" onclick="this.parentElement.remove();">
      <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <title>Fechar</title>
        <path d="M14.348 5.652a1 1 0 0 0-1.414 0L10 8.586 7.066 5.652a1 1 0 0 0-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 1 0 1.414 1.414L10 11.414l2.934 2.934a1 1 0 0 0 1.414-1.414L11.414 10l2.934-2.934a1 1 0 0 0 0-1.414z" />
      </svg>
    </button>
  </div>



  <!-- Tabela de contatos -->
  <div *ngIf="contatos.length > 0" class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">Lista de Contatos</h2>
    <p class="mb-3 text-sm"> {{contatos.length}} contatos encontrados</p>
    <table class="w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-gray-200 dark:bg-gray-600">
          <th class="border p-2 text-left">Nome</th>
          <th class="border p-2 text-left">Telefone</th>
          <th class="border p-2 text-left">Email</th>
          <th class="border p-2 text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contato of contatos">
          <td class="border p-2">{{ contato.nome }}</td>
          <td class="border p-2">{{ contato.telefone }}</td>
          <td class="border p-2">{{ contato.email }}</td>
          <td class="border p-2 text-center">
            <button (click)="editarContato(contato)" class="bg-yellow-500 text-white px-4 py-1 rounded-lg hover:bg-yellow-600 transition">
              Editar
            </button>
            <button (click)="excluirContato(contato.id)" class="bg-red-600 text-white px-4 py-1 rounded-lg hover:bg-red-700 transition ml-2">
              Excluir
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>